.navbar {
  &-title {
    font-size: 40px;
    line-height: 56px;
    margin-right: 0;
    font-family: 'Shikamaru', 'arial', sans-serif;
  }

  &-buttons {
    padding-left: 15px;
  }
}

.nav {
  &-link {
    font-family: 'Helvetica', 'arial', sans-serif;
    font-size: 16px;
  }

  &-btn {
    padding-top: 1px;
  }
}
